body {    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 50px;
    gap: 20px;
    width: 100%;
}

.body-container {
    max-width: 1300px;
}

header {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
}

header img {
    width: 50px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.carrosel-container {
    display: flex;
    background-color: red;
}

.new-seasons {
    display: flex;
    flex-direction: column;

}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
}

.user-infos {
    display: flex;
    flex-direction: column;
}

.user-infos .infos-container{ 
    display: flex;
}

.user-infos .about-container {
    width: 60%;
}

.user-infos .info-card {
    flex-grow: 2;
}

.card-text {
    margin: 0px;
}

.card-social-media-container {
    display: flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
}

.card-social-media-container p {
    margin: 0px;
}

.card-social-media-container ion-icon  {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    /* .new-seasons .slider {
        flex-direction: column;
    }	 */

    
}